/* CSS for your imitation here */
@font-face {
  font-family: REESES;
  src: url(WildRide.ttf);
}
@font-face{
  font-family: REESES2;
  src: url(WildRideBackfill.ttf);
}
main{
  height: 11.4in;
  width: 7.7in;
  background-color: orange;
}
div.generalmills{
  color: blue;
  background-color: white;
  height: .75in;
  width: 1.5in;
}
div.angleone{
  width: 0px;
  background-color: black;
  border-right: 30px solid white;
  border-top: 20px solid white;
  border-left: 30px solid orange;
  border-bottom: 20px solid orange;
}
div.angletwo{
  width: 0px;
  background-color: black;
  border-right: 43px solid orange;
  border-top: 20px solid white;
  border-left: 43px solid white;
  border-bottom: 20px solid orange;
  margin-left: 59px;
  margin-top: -40px;
}
div.anglethree{
  background-color: black;
  width: 0px;
  border-right: 20px solid orange;
  border-top: .375in solid white;
  border-left: 20px solid white;
  border-bottom: .375in solid orange;
  margin-top: -112px;
  margin-left:1.5in;
}
div.reeseone{
  width: 1.5in;
  height: 1in;
  background-color: brown;
  margin-left: 6.2in;
}
p.madewith{
  color: brown;
  margin-left: 3in;
}
h2.real{
  color: yellow;
  margin-left: 3.75in;
  margin-top: -42px;
}
h2.reeses{
  color: brown;
  margin-left: 2.5in;
}
p.peanutbutter{
  color: brown;
  margin-left: 3.65in;
  margin-top: -42px;
}
p.reesespuffsone{
  font-family: REESES;
  font-size: 70px;
  color: yellow;
}
p.reesespuffstwo{
  font-family: REESES2;
  font-size: 70px;
  color: brown;
}